<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="net.8.0.DesktopRuntime.Beckhoff" version="8.0.13.34517" />
  <package id="netfx.4.8.1.Beckhoff" version="4.8.9037.7" />
  <package id="Node.js.Beckhoff" version="22.19.0" />
  <package id="Python.Beckhoff.tchmi.client" version="0.3.0" />
  <package id="Python.Beckhoff.tchmi.extensionapi" version="0.3.0" />
  <package id="TC1000.ADS.XAR" version="1.0.0" />
  <package id="TC1300.Cpp.XAE" version="4026.19.0" />
  <package id="TC170x.UsermodeRuntime.XAR" version="4026.19.0" />
  <package id="TE1300.ScopeViewProfessional.XAE" version="34.49.16" />
  <package id="TE1400.TargetForSimulink.XAE" version="2.10.297" />
  <package id="TE1401.TargetForMATLAB.XAE" version="2.10.297" />
  <package id="TE1410.InterfaceForMATLABSimulink.XAE" version="2.10.255" />
  <package id="TE2000.HMIEngineering.XAE" version="14.9.1" />
  <package id="TE5950.DriveManager2.XAE" version="1.1.102" />
  <package id="TE9000.SafetyEditor.XAE" version="1.4.13" />
  <package id="TF1800.PLCHMI.XAR" version="1.0.3" />
  <package id="TF2000.HMIServer.XAR" version="14.9.0" />
  <package id="TF6010.AdsMonitor.XAE" version="1.0.0" />
  <package id="TF8020.BACnet.XAE" version="1.0.5" />
  <package id="TF8020.BACnet.XAR" version="1.0.5" />
  <package id="TwinCAT.BlockDiagramClassic.XAE" version="1.5.21" />
  <package id="TwinCAT.HMI.Alarm" version="14.4.216" />
  <package id="TwinCAT.HMI.BaseTemplate" version="14.3.277" />
  <package id="TwinCAT.HMI.BaseTemplate" version="14.3.307" />
  <package id="TwinCAT.HMI.Controls" version="14.1.15" />
  <package id="TwinCAT.HMI.Controls" version="14.3.277" />
  <package id="TwinCAT.HMI.Controls" version="14.3.307" />
  <package id="TwinCAT.HMI.EcDiagnostics" version="14.3.173" />
  <package id="TwinCAT.HMI.EcDiagnostics" version="14.4.216" />
  <package id="TwinCAT.HMI.EcDiagnosticsControl" version="14.3.277" />
  <package id="TwinCAT.HMI.EcDiagnosticsControl" version="14.3.307" />
  <package id="TwinCAT.HMI.Engineering" version="14.3.436" />
  <package id="TwinCAT.HMI.EventLogger" version="14.4.216" />
  <package id="TwinCAT.HMI.Framework" version="14.3.154" />
  <package id="TwinCAT.HMI.Framework" version="14.3.212" />
  <package id="TwinCAT.HMI.Framework" version="14.3.258" />
  <package id="TwinCAT.HMI.Framework" version="14.3.277" />
  <package id="TwinCAT.HMI.Framework" version="14.3.316" />
  <package id="TwinCAT.HMI.Functions" version="14.3.277" />
  <package id="TwinCAT.HMI.Functions" version="14.3.307" />
  <package id="TwinCAT.HMI.Industries.Common" version="14.3.277" />
  <package id="TwinCAT.HMI.Industries.Common" version="14.3.307" />
  <package id="TwinCAT.HMI.Ldap" version="14.4.80" />
  <package id="TwinCAT.HMI.Mdp" version="14.4.216" />
  <package id="TwinCAT.HMI.Motion" version="14.3.277" />
  <package id="TwinCAT.HMI.Motion" version="14.3.307" />
  <package id="TwinCAT.HMI.PackML" version="14.3.277" />
  <package id="TwinCAT.HMI.PDFViewer" version="14.3.277" />
  <package id="TwinCAT.HMI.PDFViewer" version="14.3.307" />
  <package id="TwinCAT.HMI.PostgresHistorize" version="14.4.216" />
  <package id="TwinCAT.HMI.RecipeManagement" version="14.4.216" />
  <package id="TwinCAT.HMI.ResponsiveNavigation" version="14.3.277" />
  <package id="TwinCAT.HMI.ResponsiveNavigation" version="14.3.307" />
  <package id="TwinCAT.HMI.Server" version="14.4.216" />
  <package id="TwinCAT.HMI.Server.Documentation" version="14.4.216" />
  <package id="TwinCAT.HMI.Server.Engineering" version="14.4.216" />
  <package id="TwinCAT.HMI.Server.NET" version="14.4.216" />
  <package id="TwinCAT.HMI.Server.NET.SDK" version="14.4.216" />
  <package id="TwinCAT.HMI.SqliteHistorize" version="14.4.216" />
  <package id="TwinCAT.Prep" version="1.0.29" />
  <package id="TwinCAT.Standard.XAE" version="4026.19.0" />
  <package id="TwinCAT.Standard.XAR" version="4026.19.0" />
  <package id="TwinCAT.StandardRM.XAE" version="4026.19.0" />
  <package id="TwinCAT.SupportInformationReport.XAE" version="20.17.3" />
  <package id="TwinCAT.XAE.AdsApi" version="1.2.6" />
  <package id="TwinCAT.XAE.AdsMonitorViewerIntegrated" version="1.0.5" />
  <package id="TwinCAT.XAE.AdsMonitorViewerStandalone" version="1.0.8" />
  <package id="TwinCAT.XAE.AnalyticsLogger" version="4.3.5" />
  <package id="TwinCAT.XAE.ApplicationRuntime" version="1.0.5" />
  <package id="TwinCAT.XAE.BACnet" version="2.7.0" />
  <package id="TwinCAT.XAE.Base" version="1.2.0" />
  <package id="TwinCAT.XAE.Base.SupportInfoReportExtension" version="1.0.4" />
  <package id="TwinCAT.XAE.BlockDiagramClassic" version="1.5.25" />
  <package id="TwinCAT.XAE.CppPlatformWizard" version="1.4.9" />
  <package id="TwinCAT.XAE.CppSupport" version="1.4.6" />
  <package id="TwinCAT.XAE.DALI" version="1.0.0" />
  <package id="TwinCAT.XAE.DataExchangeMATLAB" version="2.10.255" />
  <package id="TwinCAT.XAE.DataExchangeMATLABSimulink" version="2.10.255" />
  <package id="TwinCAT.XAE.DataExchangeSimulink" version="2.10.255" />
  <package id="TwinCAT.XAE.Debugger" version="2.7.13" />
  <package id="TwinCAT.XAE.DocDataProvider" version="1.1.8" />
  <package id="TwinCAT.XAE.DriveManager" version="1.0.68" />
  <package id="TwinCAT.XAE.EL6201" version="1.0.6" />
  <package id="TwinCAT.XAE.EL6692Master" version="1.0.5" />
  <package id="TwinCAT.XAE.EL6692Slave" version="1.0.4" />
  <package id="TwinCAT.XAE.EL6695" version="1.0.9" />
  <package id="TwinCAT.XAE.EmbeddedBrowser" version="18.0.10" />
  <package id="TwinCAT.XAE.EtherCATConfig" version="2.0.112" />
  <package id="TwinCAT.XAE.EtherCATSlave" version="2.0.7" />
  <package id="TwinCAT.XAE.EtherCATTopology" version="1.2.0" />
  <package id="TwinCAT.XAE.Eventlogger" version="1.4.12" />
  <package id="TwinCAT.XAE.FieldbussesBase" version="1.15.0" />
  <package id="TwinCAT.XAE.HART" version="1.0.4" />
  <package id="TwinCAT.XAE.Integration" version="2.13.0" />
  <package id="TwinCAT.XAE.IOLink" version="1.1.21" />
  <package id="TwinCAT.XAE.MeasurementBaseVS" version="4.49.47" />
  <package id="TwinCAT.XAE.MigrateCli" version="1.0.849" />
  <package id="TwinCAT.XAE.ModuleGeneratorMATLAB" version="2.10.297" />
  <package id="TwinCAT.XAE.ModuleGeneratorMATLABSimulink" version="2.10.297" />
  <package id="TwinCAT.XAE.ModuleGeneratorSimulink" version="2.10.297" />
  <package id="TwinCAT.XAE.PLC" version="5.12.7" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_BACnetRev12" version="2.6.6" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_DataExchange" version="3.4.2" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_Drive" version="3.3.14" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_EtherCAT" version="3.6.3" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_EthernetIP" version="1.1.2" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_IoFunctions" version="3.4.5" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_Math" version="3.5.1" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_MC2" version="3.3.69" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_MC2_Drive" version="3.3.51" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_ProfinetDiag" version="1.5.2" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_Standard" version="3.4.5" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_System" version="3.9.1" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_SystemCX" version="3.5.3" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_Utilities" version="3.10.1" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_BA2_Common" version="2.2.23" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_BACnetRev14" version="4.2.65" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_BA_Common" version="2.2.4" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_DriveMotionControl" version="3.0.15" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_DynamicMemory" version="1.1.4" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_EventLogger" version="3.3.13" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_IoLink" version="3.4.9" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_IPCDiag" version="1.2.2" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_JsonXml" version="3.4.7" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_Module" version="3.4.5" />
  <package id="TwinCAT.XAE.PLC.RM.4026.19" version="5.12.7" />
  <package id="TwinCAT.XAE.ProjectCompare" version="2.0.22" />
  <package id="TwinCAT.XAE.PublicSDK" version="4.20.4" />
  <package id="TwinCAT.XAE.SafetyEditor" version="1.3.4" />
  <package id="TwinCAT.XAE.ScopeView" version="4.49.155" />
  <package id="TwinCAT.XAE.Shell64" version="7.13.0" />
  <package id="TwinCAT.XAE.StandaloneTypesystem_1_16" version="1.16.25" />
  <package id="TwinCAT.XAE.StandaloneTypesystem_2_7" version="2.7.110" />
  <package id="TwinCAT.XAE.StandaloneTypesystem_2_8" version="2.8.57" />
  <package id="TwinCAT.XAE.SupportInformationReport" version="2.17.10" />
  <package id="TwinCAT.XAE.SystemManagerBase" version="2.6.5" />
  <package id="TwinCAT.XAE.SystemManagerBase.RM.4026.19" version="2.6.5" />
  <package id="TwinCAT.XAE.SystemManagerInterops" version="2.9.0" />
  <package id="TwinCAT.XAE.SystemManagerVS" version="2.6.5" />
  <package id="TwinCAT.XAE.SystemManagerVS.RM.4026.19" version="2.6.5" />
  <package id="TwinCAT.XAE.TargetBrowser" version="2.0.101" />
  <package id="TwinCAT.XAE.TargetBrowserDatabaseServer" version="3.36.4" />
  <package id="TwinCAT.XAE.TargetBrowserOpcUa" version="2.0.133" />
  <package id="TwinCAT.XAE.TargetBrowserScope" version="1.1.35" />
  <package id="TwinCAT.XAE.TargetBrowserVS" version="2.0.101" />
  <package id="TwinCAT.XAE.TMC" version="1.5.12" />
  <package id="TwinCAT.XAE.TMX.AnalyticsLogger" version="3.3.211" />
  <package id="TwinCAT.XAE.TMX.BodePlot" version="1.1.5" />
  <package id="TwinCAT.XAE.TMX.DataExchange" version="1.1.36" />
  <package id="TwinCAT.XAE.TMX.MatSimUtilities" version="1.1.18" />
  <package id="TwinCAT.XAE.TMX.NcObjects" version="3.1.4707" />
  <package id="TwinCAT.XAE.ToolsBaseMATLABSimulink" version="1.0.1217" />
  <package id="TwinCAT.XAR.AdsApi" version="1.2.6" />
  <package id="TwinCAT.XAR.BACnet" version="2.1.12" />
  <package id="TwinCAT.XAR.Base" version="3.4.8" />
  <package id="TwinCAT.XAR.CxDevice" version="1.1.6" />
  <package id="TwinCAT.XAR.DriversBase" version="3.21.3" />
  <package id="TwinCAT.XAR.ESB" version="1.4.3" />
  <package id="TwinCAT.XAR.EtherCATSlave" version="2.3.3" />
  <package id="TwinCAT.XAR.EtherNetIP" version="3.2.2" />
  <package id="TwinCAT.XAR.NCPTP" version="3.1.5033" />
  <package id="TwinCAT.XAR.NdisDriver" version="2.1.8" />
  <package id="TwinCAT.XAR.PLC" version="2.1.12" />
  <package id="TwinCAT.XAR.PlcHmi" version="1.0.11" />
  <package id="TwinCAT.XAR.PnP" version="1.4.1" />
  <package id="TwinCAT.XAR.Profinet" version="2.5.1" />
  <package id="TwinCAT.XAR.Realtime" version="2.2.2" />
  <package id="TwinCAT.XAR.ReportingServer" version="1.3.27" />
  <package id="TwinCAT.XAR.ScopeServer" version="4.49.116" />
  <package id="TwinCAT.XAR.SystemServiceLib" version="1.1.0" />
  <package id="TwinCAT.XAR.USB" version="4.2.0" />
  <package id="TwinCAT.XAR.UserModeRuntime" version="1.18.3" />
  <package id="TwinCAT.XAR.VirtualMp" version="2.0.3" />
  <package id="TypeScript.Beckhoff" version="5.9.2" />
  <package id="vcredist100.Beckhoff" version="10.0.40219.325" />
  <package id="vcredist140.Beckhoff" version="14.44.35211" />
</packages>